.home {
  min-height: 100vh;
  height: 100%;
  header {
    height: calc(100vh - 70px);
    perspective: 600px;
    perspective-origin: center bottom;
    .header__wrapper {
      height: 100%;
      transform-origin: 50% 90%;
      transform-style: preserve-3d;

      .header__about {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        &-job__title {
          font-size: $bigFontSize;
          letter-spacing: 1.5px;
          color: $whiteColor;
          span {
            color: $textColor;
          }
        }
        &-job__name {
          font-size: $smallFontSize;
          letter-spacing: 2px;
          line-height: 20px;
        }
        &-fullname__name {
          font-size: $bigFontSize;
          font-family: $fontSecondary;
          letter-spacing: 1px;
        }
        &-fullname__surname {
          position: relative;
          color: $textColor;
          letter-spacing: 1px;
          &::after {
            content: "";
            width: 13px;
            height: 13px;
            border-top: 1px solid $whiteColor;
            border-right: 1px solid $whiteColor;

            position: absolute;
            top: 5px;
            right: -8px;
          }
        }
      }

      .header__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-background {
          position: absolute;
          top: 15%;
          left: 0;
          z-index: -1;
          font-size: 320px;
          white-space: nowrap;
          opacity: 0.2;
          letter-spacing: 13px;
          color: rgb(109, 105, 105);
          font-family: $fontSecondary;
        }
        &-left {
          position: relative;
          padding: 20px;
          // width: 40%;
          &::before {
            content: "";
            width: 23px;
            height: 23px;
            border-bottom: 1px solid $textColor;
            border-left: 1px solid $textColor;

            position: absolute;
            bottom: 0px;
            left: 0;
          }
          &-title {
            font-size: $smallFontSize;
            letter-spacing: 2px;
            line-height: 20px;
          }
          &-about {
            font-size: $semiFontSize;
            letter-spacing: 1px;
            line-height: 45px;
          }
          &-text {
            font-size: $smallFontSize;
            letter-spacing: 2px;
          }
          &-view {
            display: flex;
            align-items: center;
          }
          &-btn {
            position: relative;
            padding-left: 30px;
            i {
              position: absolute;
              top: 0;
              right: 0;

              cursor: pointer;
              color: $textColor;
            }
          }
        }
        &-right {
          max-width: 60%;
          width: 100%;
          height: 100%;
          position: relative;
          &-avatar {
            position: absolute;
            bottom: -30px;
            right: 80px;
            z-index: -2;

            width: 600px;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $contentColor;
  height: 70px;
  .header__item {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    .header__link {
      font-size: $smallFontSize;
      letter-spacing: 2px;
      font-weight: $font;
      text-transform: uppercase;
      text-decoration: none;
      color: $whiteColor;
      padding: 0 15px;
      &:focus {
        outline: none;
      }
    }
  }
}

.header__nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.burger {
  display: none;
  cursor: pointer;
}

@keyframes fade {
  to {
    bottom: 0%;
  }

  from {
    top: 100%;
  }
}

// Media
@media screen and (max-width: 1440px) {
  .home header .header__wrapper .header__content-background {
    font-size: 280px;
  }
  .home header .header__wrapper .header__content-left {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .home header .header__wrapper .header__content-background {
    font-size: 210px;
  }
  .home header .header__wrapper .header__content-right-avatar {
    width: 650px;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .home header .header__wrapper .header__content-right-avatar {
    width: 550px;
    right: 0;
    bottom: 70px;
  }
  .home header .header__wrapper .header__content-background {
    font-size: 150px;
  }
  .home header .header__wrapper .header__content-right {
    width: 0;
    max-width: 0;
  }

  // Burger menu
  .header__menu {
    position: fixed;
    background: $contentColor;
    left: 0;
    top: 0;
    // height: 100vh;
    // width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;

      animation: fade 0.3s linear;
    }
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $whiteColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $whiteColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $whiteColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $whiteColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  .header__item {
    margin-top: 15px;
  }

  .header__link {
    color: $whiteColor;
  }
}

@media screen and (max-width: 576px) {
  .home header .header__wrapper .header__content-background {
    font-size: 70px;
  }
  .home header .header__wrapper {
    position: relative;
  }
  .home header .header__wrapper .header__content-left {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    margin-left: 0;
    width: 100%;
  }
  .home header .header__wrapper .header__content-right-avatar {
    width: 450px;

    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  .home header .header__wrapper .header__about-job__title {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  .home header .header__wrapper .header__about-job__name {
    font-size: 11px;
    letter-spacing: 1px;
  }
  .home header .header__wrapper .header__about-fullname__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {
  .home header .header__wrapper .header__content-right-avatar {
    width: 350px;
    bottom: 80px;
  }
}

@media screen and (max-width: 320px) {
  .home header .header__wrapper .header__content-right-avatar {
    width: 250px;
  }
  .home header .header__wrapper .header__content-left {
    bottom: 0;
  }
  .home header .header__wrapper .header__about-job__title {
    font-size: 17px;
  }
  .home header .header__wrapper .header__about-job__name {
    font-size: 10px;
    letter-spacing: 0.5px;
  }
  .home header .header__wrapper .header__about-fullname__name {
    font-size: 17px;
  }
  .home header .header__wrapper .header__content-background {
    font-size: 45px;
  }
}
