// Container & Breakpoints
@use "sass:math";
$containerWidth: 1440px;
$containerPadding: 20px;
$breakpoint1440: 1440px;
$breakpoint1200: 1200px;
$breakpoint992: 992px;
$breakpoint768: 768px;
$breakpoint576: 576px;
$breakpoint320: 320px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: "black";
$burgerActiveColor: "white";

// Fonts
$fontMain: "Manuale", sans-serif;
$fontSecondary: "Redressed", cursive;

// Colors
$contentColor: #121212;
$textColor: #4af6cd;
$greyColor: #d2d2d2;
$whiteColor: #ffffff;

// Fonts Size
$bigFontSize: 30px;
$semiFontSize: 24px;
$normalFontSize: 18px;
$smallFontSize: 14px;

// Fonts weight
$font: 300;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
