.works {
  padding-top: 120px;
  margin-bottom: 80px;
  position: relative;
  &-title {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: -1;
    font-size: 140px;
    white-space: nowrap;
    opacity: 0.4;
    letter-spacing: 13px;
    color: rgb(109, 105, 105);
    font-family: $fontSecondary;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    .work__wrapper {
      filter: drop-shadow(0 0 5px $textColor);
      &-img {
        border-radius: 50px;
      }
    }
    .work__content {
      max-width: 550px;
      width: 100%;
      padding-left: 20px;
      &-title {
        font-size: $normalFontSize;
        opacity: 0.6;
        font-family: $fontSecondary;
        letter-spacing: 2px;
        display: inline-flex;
        align-items: center;
        i {
          margin-left: 7px;
          font-size: 25px;
        }
      }
      &-description {
        font-size: 21px;
        padding: 20px 0;
        line-height: 30px;
        opacity: 0.9;
      }
      &-subtitle {
        font-size: 15px;
        opacity: 0.6;
        font-family: $fontSecondary;
        letter-spacing: 2px;
        padding-bottom: 25px;
      }
      &-btn {
        background-color: $textColor;
        padding: 8px 30px;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: $normalFontSize;
        text-decoration: none;
        color: $whiteColor;
        max-width: 120px;
        display: flex;
        align-items: center;
        i {
          padding-left: 10px;

          transition: transform 0.3s linear;
        }
        &:hover i {
          transform: translateX(7px);
        }
      }
    }
  }
}

// Media
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
  .works-title {
    font-size: 100px;
  }
  .works .work .work__wrapper-img {
    width: 550px;
  }
}

@media screen and (max-width: 992px) {
  .works .work .work__wrapper-img {
    width: 430px;
  }
  .works .work .work__content-description {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .works .work {
    flex-direction: column;
  }
  .works-title {
    text-align: center;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .works .work .work__content-title {
    text-align: center;
    margin-top: 20px;
  }
  .works .work .work__content-subtitle {
    text-align: center;
  }
  .works .work .work__content-btn {
    margin: 0 auto;
  }
  .works {
    scroll-margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .works .work .work__wrapper-img {
    width: 330px;
  }
  .works-title {
    font-size: 80px;
  }
}

@media screen and (max-width: 420px) {
  .works .work .work__wrapper-img {
    width: 250px;
  }
  .works .work .work__content-description {
    font-size: 17px;
    line-height: 20px;
  }
  .works-title {
    font-size: 50px;
  }
  .works .work .work__content-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .works .work .work__wrapper-img {
    width: 220px;
  }
  .works .work .work__content-description {
    font-size: 16px;
    line-height: 17px;
  }
  .works .work .work__content-btn {
    font-size: 14px;
    max-width: 95px;
  }
}
