// Global SCSS-files imports
@import "./vars";
@import "./reset";
@import "./@media";

// Sections or Pages SCSS-files imports
@import "./home";
@import "./about-me";
@import "./experience";
@import "./works";
@import "./contact-me";

// Libs
@import "./libs/swiper";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $fontMain;
  font-size: $smallFontSize;
  background-color: $contentColor;
  color: $whiteColor;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.locked {
    overflow: hidden;
  }
}

// Container
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

// Line
.line-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  svg {
    display: inline-block;
    height: 100%;
    opacity: 0.4;
  }
}

// Social
.social {
  position: fixed;
  top: 50%;
  left: 10px;
  z-index: 1000;
  transform: translateY(-50%);

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  &-link {
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  &-item {
    transition: box-shadow 0.2s linear;
    &:hover {
      filter: drop-shadow(0 0 7px $textColor);
    }
  }
}

// Scroll Up
.scrollUp {
  position: fixed;
  bottom: -30%;
  right: 35px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: $normalFontSize;
  color: $textColor;

  &:hover i {
    transition: transform 0.3s linear;
    transform: translateY(-0.25rem);
  }
}

.show-scroll {
  bottom: 30px;
}

// Margin top blocks
.works,
.experience,
.contact {
  scroll-margin-top: 100px;
}

// Media
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 420px) {
  .social-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
}
